.message {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: #f1f1f1;
    width: fit-content;
}

.own-message {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
}

.message-date {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}
