<%= render 'posts/modal' %>  <!-- This renders the modal at the top of the page -->
<div class="container">
  <div class="row">
    <!-- Side Menu -->
    <%= render "pages/index/side_menu"%>

    <!-- Main Content -->
    <%= render "pages/index/main_content" %>

  </div><!-- row -->
</div><!-- container -->
