<div class="container">
  <div class="row">
    <!-- Side Menu -->
    <div id="side-menu" class="col-sm-3 bg-light" style="padding: 0;">
    </div><!-- side-menu -->

    <!-- Main Content -->
    <div id="main-content" class="col-sm-9 bg-white" style="min-height: 800px; padding-top: 10px;">
        <%= render @posts %>
    </div><!-- main-content -->
  </div><!-- row -->
</div><!-- container -->