<%= render 'posts/modal' %>  <!-- This renders the modal at the top of the page -->
<div class="container">
  <div class="row">
    <!-- Side Menu -->
    <div id="side-menu" class="col-sm-3 bg-light" style="padding: 0;">
    </div><!-- side-menu -->

    <!-- Main Content -->
    <div id="main-content" class="col-sm-9 bg-white" style="min-height: 800px; padding-top: 10px;">
      <div class="row">
        <%= render @posts %>
        <%= render 'posts/modal' %>
      </div>
    </div><!-- main-content -->
  </div><!-- row -->
</div><!-- container -->
